body {
  /* padding: 10px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #404E67; 
  background: #F5F7FA;
}
.container{

  width: 100%;

}
.card{
  border-radius: 20px;
  margin-top: 10px;
}

.card-body{
  padding:30px 50px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 20px;
  background: #fff; 
}

.card2 {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-body.tb {
  padding: 40px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #fff;
}